<svg id="Icons" xmlns="http://www.w3.org/2000/svg" version="1.1" width="90px" height="90px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" xmlns:xlink="http://www.w3.org/1999/xlink"><defs
    ><style>
      .cls-1 {
        fill: #ff8a14;
      }
      .cls-2 {
        fill: #adc4d9;
      }
      .cls-2,
      .cls-5,
      .cls-7,
      .cls-8,
      .cls-9 {
        stroke: #45413c;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
      .cls-3 {
        fill: #ffe500;
      }
      .cls-4 {
        fill: #fff48c;
      }
      .cls-5 {
        fill: none;
      }
      .cls-13,
      .cls-6 {
        fill: #45413c;
      }
      .cls-6 {
        opacity: 0.15;
      }
      .cls-7 {
        fill: #fff;
      }
      .cls-8 {
        fill: #ff6242;
      }
      .cls-9 {
        fill: #6dd627;
      }
      .cls-10 {
        fill: #ffaa54;
      }
      .cls-11 {
        fill: #c0dceb;
      }
      .cls-12 {
        fill: #daedf7;
      }
    </style></defs
  ><title>93-robot-face-2</title><g><path style="opacity:1" fill="#3de1c9" d="M 48.5,10.5 C 46.3379,10.8972 45.0046,12.2305 44.5,14.5C 43.8182,13.7573 43.1515,13.0906 42.5,12.5C 38.5419,9.41207 38.5419,6.2454 42.5,3C 46.764,2.13123 49.4307,3.7979 50.5,8C 49.9341,8.9947 49.2674,9.82803 48.5,10.5 Z"/></g>
<g><path style="opacity:1" fill="#32c3bf" d="M 48.5,10.5 C 47.2804,12.2821 46.6138,14.2821 46.5,16.5C 52.4093,16.6385 57.7426,18.3052 62.5,21.5C 61.8485,22.0906 61.1818,22.7573 60.5,23.5C 59.5,22.1667 58.5,22.1667 57.5,23.5C 50.8315,22.3211 44.1648,20.3211 37.5,17.5C 38.9187,16.5489 40.5853,16.2155 42.5,16.5C 42.5,15.1667 42.5,13.8333 42.5,12.5C 43.1515,13.0906 43.8182,13.7573 44.5,14.5C 45.0046,12.2305 46.3379,10.8972 48.5,10.5 Z"/></g>
<g><path style="opacity:1" fill="#2dc5ce" d="M 30.5,19.5 C 42.858,22.6754 55.358,25.6754 68,28.5C 68.3826,27.944 68.8826,27.6107 69.5,27.5C 72.973,29.6367 75.3064,32.6367 76.5,36.5C 73.5522,35.6802 70.5522,35.0135 67.5,34.5C 65.9704,34.6399 64.9704,35.3065 64.5,36.5C 62.026,33.6895 59.026,31.6895 55.5,30.5C 45.0202,28.5563 34.3535,26.223 23.5,23.5C 25.3356,21.412 27.6689,20.0787 30.5,19.5 Z"/></g>
<g><path style="opacity:1" fill="#31d0cf" d="M 37.5,17.5 C 44.1648,20.3211 50.8315,22.3211 57.5,23.5C 58.5,22.1667 59.5,22.1667 60.5,23.5C 61.1818,22.7573 61.8485,22.0906 62.5,21.5C 65.4474,22.7805 67.7807,24.7805 69.5,27.5C 68.8826,27.6107 68.3826,27.944 68,28.5C 55.358,25.6754 42.858,22.6754 30.5,19.5C 32.588,18.0605 34.9214,17.3939 37.5,17.5 Z"/></g>
<g><path style="opacity:1" fill="#29b9cc" d="M 23.5,23.5 C 34.3535,26.223 45.0202,28.5563 55.5,30.5C 53.0504,34.5545 49.3837,36.2212 44.5,35.5C 42.5,35.3333 40.5,35.1667 38.5,35C 36.826,32.4958 34.4926,30.9958 31.5,30.5C 30.2502,30.4226 29.4169,29.756 29,28.5C 28.6667,28.8333 28.3333,29.1667 28,29.5C 27.2613,28.4258 26.2613,27.7591 25,27.5C 23.3105,28.1495 21.4771,28.1495 19.5,27.5C 20.5,25.8333 21.8333,24.5 23.5,23.5 Z"/></g>
<g><path style="opacity:1" fill="#22b1d5" d="M 19.5,27.5 C 21.4771,28.1495 23.3105,28.1495 25,27.5C 26.2613,27.7591 27.2613,28.4258 28,29.5C 28.3333,29.1667 28.6667,28.8333 29,28.5C 29.4169,29.756 30.2502,30.4226 31.5,30.5C 28.1667,33.1667 25.1667,36.1667 22.5,39.5C 18.956,39.1152 15.6227,38.1152 12.5,36.5C 13.7181,32.6172 16.0515,29.6172 19.5,27.5 Z"/></g>
<g><path style="opacity:1" fill="#1ca1d7" d="M 12.5,36.5 C 15.6227,38.1152 18.956,39.1152 22.5,39.5C 21.3448,42.4569 20.3448,45.4569 19.5,48.5C 14.1376,46.2392 8.80422,44.9058 3.5,44.5C 4.73564,42.1725 6.73564,41.0058 9.5,41C 10.8825,39.7292 11.8825,38.2292 12.5,36.5 Z"/></g>
<g><path style="opacity:1" fill="#26b5d0" d="M 76.5,36.5 C 77.6006,37.8484 78.6006,39.3484 79.5,41C 81.6079,41.3599 83.6079,42.0266 85.5,43C 86.2524,43.6708 86.5858,44.5041 86.5,45.5C 85.7387,46.3909 84.7387,47.0576 83.5,47.5C 78.5046,47.0341 73.5046,46.0341 68.5,44.5C 67.1667,41.8333 65.8333,39.1667 64.5,36.5C 64.9704,35.3065 65.9704,34.6399 67.5,34.5C 70.5522,35.0135 73.5522,35.6802 76.5,36.5 Z"/></g>
<g><path style="opacity:1" fill="#20b1dc" d="M 68.5,44.5 C 73.5046,46.0341 78.5046,47.0341 83.5,47.5C 84.7387,47.0576 85.7387,46.3909 86.5,45.5C 86.5,49.8333 86.5,54.1667 86.5,58.5C 85.7321,57.7375 85.2321,56.7375 85,55.5C 84.586,55.9574 84.086,56.2907 83.5,56.5C 79.9904,55.4337 76.4904,54.4337 73,53.5C 72.6667,53.8333 72.3333,54.1667 72,54.5C 71.0147,52.8251 70.1814,51.1585 69.5,49.5C 69.3713,47.7839 69.038,46.1172 68.5,44.5 Z"/></g>
<g><path style="opacity:1" fill="#159ae1" d="M 3.5,44.5 C 8.80422,44.9058 14.1376,46.2392 19.5,48.5C 20.6303,51.1367 20.6303,53.8033 19.5,56.5C 14.7797,54.6521 9.4464,53.3187 3.5,52.5C 3.78448,54.4147 3.45115,56.0813 2.5,57.5C 2.18178,52.9677 2.51511,48.6344 3.5,44.5 Z"/></g>
<g><path style="opacity:1" fill="#1c98cb" d="M 54.5,46.5 C 63.1605,46.5944 65.6605,50.2611 62,57.5C 60.5917,55.0826 58.7584,53.0826 56.5,51.5C 54.5816,53.4158 52.7483,55.4158 51,57.5C 48.1243,55.537 47.7909,53.2036 50,50.5C 51.3968,48.9297 52.8968,47.5964 54.5,46.5 Z"/></g>
<g><path style="opacity:1" fill="#188eca" d="M 29.5,46.5 C 35.9839,46.157 39.4839,49.157 40,55.5C 39.1627,57.0074 37.9961,57.5074 36.5,57C 35.9707,54.5714 34.6374,52.7381 32.5,51.5C 30.5816,53.4158 28.7483,55.4158 27,57.5C 25.5362,56.541 24.7028,55.2077 24.5,53.5C 25.4524,50.5723 27.119,48.239 29.5,46.5 Z"/></g>
<g><path style="opacity:1" fill="#199bd7" d="M 69.5,49.5 C 70.1814,51.1585 71.0147,52.8251 72,54.5C 72.3333,54.1667 72.6667,53.8333 73,53.5C 76.4904,54.4337 79.9904,55.4337 83.5,56.5C 84.086,56.2907 84.586,55.9574 85,55.5C 85.2321,56.7375 85.7321,57.7375 86.5,58.5C 85.516,61.8371 83.1827,63.3371 79.5,63C 78.2189,64.4087 77.2189,65.9087 76.5,67.5C 73.2722,66.4544 69.9389,65.7878 66.5,65.5C 68.749,60.4143 69.749,55.0809 69.5,49.5 Z"/></g>
<g><path style="opacity:1" fill="#0d8ae2" d="M 19.5,56.5 C 20.8519,60.2112 22.5185,63.8779 24.5,67.5C 22.5328,67.2606 20.6995,67.5939 19,68.5C 16.5501,67.3578 14.0501,66.3578 11.5,65.5C 10.277,63.228 8.27703,62.0614 5.5,62C 3.85883,60.871 2.85883,59.371 2.5,57.5C 3.45115,56.0813 3.78448,54.4147 3.5,52.5C 9.4464,53.3187 14.7797,54.6521 19.5,56.5 Z"/></g>
<g><path style="opacity:1" fill="#1c9acc" d="M 37.5,58.5 C 40.4701,58.7458 41.8034,60.4124 41.5,63.5C 43.288,63.7852 44.9547,63.4519 46.5,62.5C 47.703,58.0487 49.703,57.5487 52.5,61C 51.2254,67.9334 47.2254,70.2668 40.5,68C 36.681,65.7477 35.681,62.581 37.5,58.5 Z"/></g>
<g><path style="opacity:1" fill="#1088db" d="M 66.5,65.5 C 69.9389,65.7878 73.2722,66.4544 76.5,67.5C 75.3449,70.4749 73.6782,73.1416 71.5,75.5C 68.599,74.7318 65.7656,73.7318 63,72.5C 61.841,73.566 61.0076,73.2327 60.5,71.5C 62.1667,69.1667 64.1667,67.1667 66.5,65.5 Z"/></g>
<g><path style="opacity:1" fill="#0479e7" d="M 11.5,65.5 C 14.0501,66.3578 16.5501,67.3578 19,68.5C 20.6995,67.5939 22.5328,67.2606 24.5,67.5C 28.7316,71.7824 33.7316,74.7824 39.5,76.5C 45.8148,77.2108 51.8148,78.3775 57.5,80C 59.3237,80.66 60.657,81.8267 61.5,83.5C 59.7028,84.7298 57.7028,85.3964 55.5,85.5C 54.2784,83.7962 52.2784,82.7962 49.5,82.5C 48.914,82.7093 48.414,83.0426 48,83.5C 39.3637,80.8729 30.5303,79.2062 21.5,78.5C 16.6417,75.3121 13.3083,70.9788 11.5,65.5 Z"/></g>
<g><path style="opacity:1" fill="#0978d9" d="M 60.5,71.5 C 61.0076,73.2327 61.841,73.566 63,72.5C 65.7656,73.7318 68.599,74.7318 71.5,75.5C 68.4797,78.5162 65.1464,81.1829 61.5,83.5C 60.657,81.8267 59.3237,80.66 57.5,80C 51.8148,78.3775 45.8148,77.2108 39.5,76.5C 47.2504,77.6161 54.2504,75.9495 60.5,71.5 Z"/></g>
<g><path style="opacity:1" fill="#026fe4" d="M 21.5,78.5 C 30.5303,79.2062 39.3637,80.8729 48,83.5C 48.414,83.0426 48.914,82.7093 49.5,82.5C 52.2784,82.7962 54.2784,83.7962 55.5,85.5C 45.6287,88.6503 35.9621,87.817 26.5,83C 24.3825,81.9509 22.7158,80.4509 21.5,78.5 Z"/></g>
</svg>
