---
import { pwaInfo } from "virtual:pwa-info"

export interface Props {
  title: string
}

const { title } = Astro.props as Props
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,viewport-fit=cover"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="192x192" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="theme-color" content="#f6f8fa" />
    <meta name="description" content="ChatGPT中文版官网在线聊天网页版是一个超强的Ai聊天机器人，它会创作、写论文、答辩、编程等，本站基于ChatGPT官方GPT-3.5-turbo GPT-4API接口实现免费对话服务。"/>
    <meta name="keywords" content="ChatGPT,人工智能ChatGPT,聊天机器人ChatGPT,ChatGPT免费,ChatGPT在线体验,ChatGPT官网,ChatGPT网页版,ChatGPT注册,ChatGPT中文版"/>
    <script src="/src/pwa.ts"></script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <base target="_blank">
  </head>
  <body>
    <slot />
  </body>
</html>
